{{ define "main" -}}

<div class="post">
  <h1 style="margin-bottom:0.3em;">{{ .Title }}</h1>

  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-date locale-date">{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

  {{ if .Params.tags }}
  <div class="post-tags" style="margin-bottom:1.2em;">
    {{ range $tag := .Params.tags }}
      <a class="tag-badge" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}/">{{ $tag }}</a>
    {{ end }}
  </div>
  {{ end }}

  {{ .Content }}
</div>

{{ if .Site.Config.Services.Disqus.Shortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}


{{/* Navigation for previous/next articles */}}
<div class="post-nav">
  {{ with .PrevInSection }}
    <a class="nav-badge nav-prev" href="{{ .RelPermalink }}">&laquo; {{ .Title }}</a>
  {{ end }}
  {{ with .NextInSection }}
    <a class="nav-badge nav-next" href="{{ .RelPermalink }}">{{ .Title }} &raquo;</a>
  {{ end }}
</div>

{{ partial "date-locale-script.html" . }}
{{- end }}
